<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Prénom</th>  <th>Maladie</th> <th>Date Consultation</th> </tr>
    <tbody *ngFor="let patient of patients">
    <tr >
        <td>{{patient.idP}}</td>
        <td>{{patient.nomP}}</td>
        <td>{{patient.prenomP}}</td>
        <td>{{patient.maladieP}}</td>
       <td>{{patient.dateConsultation | date:'dd/MM/yyyy'}}</td>
       <td><a class="btn btn-danger" (click)="supprimerPatient(patient)">Supprimer</a></td>
       <td><a class="btn btn-success" [routerLink]="['/updatePatient',patient.idP]">Modifier</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
